/* google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* google font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* google font Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-font{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* outline: 1px solid red; */
}

/* shared styles */
.hide{
    display: none;
}
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
}
.btn-primary:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px #E02C6D;
}
.card:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px #00000084;
}
.text-primary{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}
.text-secondary{
    color: #787885;
    font-size: .8rem;
    font-weight: 700;
}
.checked{
    color: orange;
}


/* header styles */
header{
    max-width: 1600px;
    width: 100%;
}
#hcontainer{
    /* border: 2px solid blueviolet; */
    justify-content: space-between;
    align-items: center;
    /* margin: 80px auto 40px; */
    margin: 0 auto;
    padding-top: 85px;
    padding-bottom: 40px;
    max-width: 1200px;
}
.brand p{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}
.menu ul{
    gap: 34px;
}


/* banner styles */
.banner-title h2{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    color: #3A3A3A;
}
.banner-title{
    max-width: 582px;
}
.banner-para{
    max-width: 505px;
}
.banner-info{
    flex-direction: column;
    gap: 16px;
}
#banner{
    /* border: 2px solid blueviolet; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 133px;
}
.banner-pic{
    /* border: 2px solid rgb(0, 0, 0); */
    background-image: url(../images/Circle\ design.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 475px;
    height: 475px;
    margin-bottom: 70px;
    /* margin-top: 50px; */
}
.banner-pic img{
    position: relative;
    top: 30px;
}


/* sponsors styles */
#sponsors{
    margin-bottom: 100px;
}
#sponsors ul{
    max-width: 1110px;
    /* justify-content: space-evenly; */
    justify-content: center;
    gap: 60px;
    align-items: center;
    margin: 0 auto;
    padding: 35px 62px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}


/* collections styles */
#collection{
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
#collection .collection-title p{
    font-size: 1.75rem;
    font-weight: 600;
    color: #3A3A3A;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.card{
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    width: 329px;
    height: 476px;
    padding: 15px;
    flex-direction: column;
    gap: 16px;
}
.card h3{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
}
.card .price{
    font-size: 1.5rem;
}
.rating{
    gap: 8px;
}
.rating .rating-number{
    font-size: .8rem;
    font-weight: 700;
    line-height: 22px;
    color: #5E6366;
}
.see-more{
    font-size: 1rem;
    font-weight: 700;
    color: #E02C6D;
    text-decoration: none;
}


/* featured styles */
#featured{
    width: 100%;
    margin-top: 105px;
    margin-bottom: 100px;
}
.featured-container{
    max-width: 1110px;
    width: 100%;
    /* border: 2px solid violet; */
    gap: 95px;
    margin: 0 auto;
    justify-content: center;
}
.featured-info{
    max-width: 610px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.featured-title h3{
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 60px;
    color: #0A0826;
}
.featured-para{
    width: 500px;
}
.featured-para p{
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    color: #6C6C6C;
}


/* footer styles */
footer{
    width: 100%;
    min-height: 250px;
    background-color: #0A0826;
    /* padding: 50px; */
    justify-content: center;
    align-items: center;
}
.fcontainer{
    /* border: 2px solid white; */
    margin: 0 auto;
    max-width: 262px;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}
.fcontainer .title h3{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
}
.fcontainer .copy p{
    color: #FFFFFF;
    font-size: .8rem;
    font-weight: 700;
    line-height: 24px;
}
.social ul{
    gap: 16px;
    justify-content: center;
    padding: 0;
}
.social ul li{
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #23213C;
    border-radius: 50%;
}

/* for mobile device */
@media screen and (max-width: 576px) {
    #hcontainer{
        flex-direction: column;
        padding-top: 35px;
        gap: 22px;
    }
    #hcontainer .menu ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #banner{
        flex-direction: column-reverse;
        gap: 14px;
    }
    .banner-pic{
        max-width: 404px;
        width: 100%;
        margin: 0 auto;
    }
    .banner-pic img{
        width: 100%;
    }
    .banner-info{
        text-align: center;
        padding: 25px;
    }
    .banner-title h2{
        font-size: 1.75rem;
        line-height: 42px;
    }
    #sponsors{
        margin-bottom: 40px;
    }
    #sponsors ul{
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: center;
        align-items: center;
        gap: 20px 20px;
        border: none;
    }
    #sponsors ul img{
        height: 20px;
    }

    #collection, .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 20px;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 15px;
    }

    #featured{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #featured .featured-container{
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        max-width: 329px;
        width: 100%;
    }
    .featured-info{
        align-items: center;
    }
    .featured-title h3{
        font-size: 1.5rem;
        line-height: 36px;
        text-align: center;
    }
    .featured-para{
        width: 100%;
        text-align: center;
    }
    /* .featured-pic img{
        max-width: 300px;
        width: 100%;
    } */
    .featured-pic img{
        width: 100%;
        max-width: 300px;
        height: auto;
        display: block;
    }
}