/* google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* shared styles */
.hide{
    display: none;
}
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
}
.text-primary{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

/* header styles */
header{
    max-width: 1600px;
    width: 100%;
}
#hcontainer{
    /* border: 2px solid blueviolet; */
    justify-content: space-between;
    align-items: center;
    /* margin: 80px auto 40px; */
    margin: 0 auto;
    padding-top: 85px;
    padding-bottom: 40px;
    max-width: 1200px;
}
.brand p{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}
.menu ul{
    gap: 34px;
}


/* banner styles */
.banner-title h2{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    color: #3A3A3A;
}
.banner-title{
    max-width: 582px;
}
.banner-para{
    max-width: 505px;
}
.banner-info{
    flex-direction: column;
    gap: 16px;
}
#banner{
    /* border: 2px solid blueviolet; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 133px;
}
.banner-pic{
    /* border: 2px solid rgb(0, 0, 0); */
    background-image: url(../images/Circle\ design.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 475px;
    height: 475px;
    margin-top: 50px;
}
.banner-pic img{
    position: relative;
    top: 30px;
}


/* sponsors styles */
#sponsors{
    max-width: 1110px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 68px;
}


/* for mobile device */
@media screen and (max-width: 576px) {
    #hcontainer{
        flex-direction: column;
        padding-top: 35px;
        gap: 22px;
    }
    #hcontainer .menu ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #banner{
        flex-direction: column-reverse;
        gap: 14px;
    }
    .banner-pic{
        max-width: 404px;
        width: 100%;
        padding-top: 20px;
    }
    .banner-pic img{
        width: 100%;
    }
    .banner-info{
        text-align: center;
        padding: 25px;
    }
    .banner-title h2{
        font-size: 1.75rem;
        line-height: 42px;
    }
}